# Keep C# as code
*.cs linguist-language=C#

# Unity/YAML assets (exclude from stats)
*.meta linguist-generated
*.unity linguist-generated
*.prefab linguist-generated
*.asset linguist-generated
*.mat linguist-generated
*.anim linguist-generated
*.controller linguist-generated

# Project/config/docs (exclude from stats)
ProjectSettings/** linguist-generated
Packages/packages-lock.json linguist-generated
*.md linguist-documentation